<div class="card bg-dark text-center text-secondary">
  
  <div class="row content">
    <div class="col">
      <small class="text-center"><strong>Built With ❤️ By Me</strong> </small>
      <br>
      You're welcome to use this <a href="https://github.com/Deenee/myWebsite" style="color: inherit;"><mark>website</mark></a> for free without any permissions
      <br>
      
      <div><br>
        Contact<br>
        <small>yarteyd@gmail.com</small><br>
        <small>233 54 994 0617</small>
      </div>
    </div>
  </div>

</div>