
  
  <div class="left-content">
      <h2 class="title left-title"><a class="left-title" href="/">DNeeY</a></h2>
      <hr>
        <ul class="links">
          <li routerLink="/">About Me</li>
          <li>Personal Projects</li>
          <li>Portfolio</li>
          <li routerLink="/contact">Send Me A Message</li>
        </ul>

        <ul class="social-links">
          <li><a href="https://github.com/deenee" target="_blank">Github</a><li></li>
          <li><a href="https://github.com/deenee" target="_blank">Linkedin</a><li></li>
        </ul>
  </div>
