<nav class="navbar navbar-expand-lg navbar-light bg-light text-center">
    <a class="navbar-brand" href="#">dneey<i style="color:rgb(84, 170, 13); margin-left:5px;" class="fa fa-certificate" aria-hidden="true"></i>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto center">
        <li class="nav-item active text-center">
          <!-- <a class="nav-link" href="#">dneey <span class="sr-only"></span></a> -->
        </li>
        <li class="nav-item ">
          <a  class="nav-link text-center" href="#personal">Personal Projects</a>
        </li>
        <li class="nav-item ">
          <!-- <a (click)=getContact() class="nav-link text-center" href="#">Contact</a> -->
        </li>
       
        <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li> -->
      </ul>
      <hr>
      <ul class="text-center my-2 my-lg-0">

        <p style="color: rgba(87, 83, 83, 0.74); padding-top:15px; padding-bottom: 1px;" class="nav-item mr-sm-2 nav-link" type="search" placeholder="Search" aria-label="Search"><strong>Email</strong> : yarteyd@gmail.com <strong>  | Phone</strong> : 233 54 994 0617</p>


      </ul>
    </div>
  </nav>