/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'bootstrap/dist/css/bootstrap.min.css';
@font-face {
    font-family: lato;
    src: url(assets/fonts/lato/Lato-Hairline.ttf) format("opentype");
  }
  .intro{
    font-family: Lato;
    font-weight: 10;
    font-style: inherit;
    font-size: 300%;
    color: rgba(255, 255, 255, 0.808);

    
}
  .intro-small{
    font-family: Lato;
    font-weight: 50;
    font-style: inherit;
    font-size: 200%
    
}
  .intro-smaller{
    font-family: Lato;
    font-weight: 100;
    font-style: inherit;
    font-size: 150%
    
}
  .intro-sub{
    font-family: Lato;
    font-weight: 10;
    font-style: inherit;
    font-size: 150%;
    /* color: rgba(255, 255, 255, 0.829); */
    color: rgba(255, 255, 255, 0.808);
    
}
  .intro-large{
    font-family: Lato;
    font-weight: 50;
    font-style: inherit;
    font-size: 550%;
    padding-top:0;
    margin-top:0;
    
}
.separator{
    /* border-top: solid; */
    margin-top: 5%;
    margin-bottom: 7%;
    border-top-color: rgba(235, 231, 231, 0.815)
}

.underline{
    width: 30%;
    margin-left: 0;
    /* border: solid;  */
    border-color: rgba(37, 33, 25, 0.651);

    border-bottom-right-radius: 10;
    border-block-end: 10;
    color: rgb(206, 163, 82);
    /* color: rgba(44, 39, 29, 0.322); */

}

.skill{
    font-family: Lato;
    font-weight: 10;
    font-style: inherit;
    font-size: 100%;
    padding:10%;
    color: rgb(255, 255, 255);
    background-color: rgba(44, 39, 29, 0.322);
    border-radius: 5%;
    margin: 10px;
    padding: 10px;
    /* border-radius: 10px; */
    /* background: #f0f0f0; */
        line-height: 1.7;
        /* color: #888; */
        justify-content: center;
        align-items: center;
        -ms-flex-align: center;
}


.contact {
    color: rgba(255, 255, 255, 0.877);
    font-size: 80%;
}