
<h1 class="text-center intro">Who I am...</h1>
<br>
<div class="card bg-info text-light text-center">
<h1 class="intro"><strong>Hey there,<br> my name is David Yartey,<br> I am a Web Developer. </strong></h1><br>
<div class="separator"></div>
<div class="row">
    <div class="circle col">Laravel</div>
    <div class="circle col">Node Js</div>
    <div class="circle col">Angular</div>
    <div class="circle col">PHP</div>
    <div class="circle col">Lumen</div>
    <div class="circle col">Rabbit MQ</div>
    <div class="circle col">Redis</div>
</div><br>

</div>
<hr>

<div class="separator"></div>
<h1 class="text-center intro">Personal Projects...</h1>
<br>
  <div class="card bg-secondary text-light text-center">
      <h3 class="intro"><strong>Projects i have worked on,<br> or am proud to have been a part of </strong></h3><br>
      <div class="separator"></div>
      <div class="row">
          <img src="https://nodejs.org/static/images/logos/nodejs-new-pantone-black.ai" class="rounded mx-auto d-block" alt="...">
          <div class="circle col">Handy Node</div>
      </div><br>
      
      </div>



<div class="separator"></div>
<h1 class="text-center intro">Blog...</h1>
<br>
  <div class="card bg-secondary text-light text-center">
      <h3 class="intro"><strong>Projects i have worked on,<br> or am proud to have been a part of </strong></h3><br>
      <div class="separator"></div>
      <div class="row">
          <img src="https://nodejs.org/static/images/logos/nodejs-new-pantone-black.ai" class="rounded mx-auto d-block" alt="...">
          <div class="circle col">Handy Node</div>
   
      </div><br>
      
      </div>
