
<h1 class="text-center intro">Hey there...</h1>
<br>
<div class="card bg-info text-light text-center">
<h1 class="intro">
   <br> I'm David Yartey,</h1>
            <br><p class="intro-small"> Full-Stack web developer with over 2 years of development in Laravel PHP, Angular and Express JS </p>
  

<br>
<div class="separator"></div>
<div class="row">
    <div class="circle col">Laravel</div>
    <div class="circle col">Node Js</div>
    <div class="circle col">Angular</div>
    <div class="circle col">PHP</div>
    <div class="circle col">Lumen</div>
    <div class="circle col">Rabbit MQ</div>
    <div class="circle col">Redis</div>
</div><br>

</div>
<hr>

<div class="separator"></div>
<h1 class="text-center intro">Personal Projects...</h1>
<br>

      <h3 class="intro"><strong>Projects i have worked on, or am proud to have been a part of </strong></h3><br>
      <div class="separator"></div>
      <div class="row">
            <div *ngFor="let project of projects" class="card" style="width: 18rem;">
                    <img class="card-img-top" src= {{ project.image }} alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">{{project.name}}</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
      
      
      </div>



<div class="separator"></div>
